<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">

    <test name="Testing On Chrome">
        <parameter name ="browser" value="CHROME"/>
        <classes>
            <class name="tests.HFTests">
            </class>
        </classes>
    </test>

    <test name="Testing On Firefox">
        <parameter name ="browser" value="FIREFOX"/>
        <classes>
            <class name="tests.HFTests">
            </class>
        </classes>
    </test>

</suite>